DATA ANALYSIS FOR CREDIT CARD ACTIVATION

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
file1 = './train_activacion.csv'
file2 = './test_activacion.csv'
df_train = pd.read_csv(file1)
df_test = pd.read_csv(file2)

df_train.head()
df_test.head()

,CODCLAVECIC,CODMESANALISIS,NUM_DEBIT_CARDS,DEM_EDUCA,DEM_PROF2,DEM_MACROZONA,MAP_DIST_JOCKEYPLAZA,TIPSEGINGRESO,INCOME_B,TRX_WDRW_SAV_B,...,DEM_NUM_EDAD,DEM_DES_SEXO,DEM_DES_ESTADOCIVIL1,DEM_DES_NIVELEDUCACIONAL2,DEM_DES_GRUPO1PROFESION1,DEM_DES_DEPARTAMENTO,DEM_DES_MACROZONADEM,DEM_MTO_INGRESOSOL,MTO_ESPERADO,ING_ESPERADO
0,2411,201806,1,"FAR,TEC",NaN,LP,NaN,NaN,1485.0,NaN,...,45,M,SOL,TEC,.,LIMA,LP,1477.0,287.786466,1.476345
1,6221,201801,1,"FAR,TEC",8.0,LP,NaN,NaN,2209.0,NaN,...,46,M,CAS,TEC,TEC,LIMA,LP,2169.0,3057.340324,9.590661
2,18740,201806,2,"FAR,TEC",8.0,LE,NaN,NaN,1110.0,NaN,...,60,M,CAS,TEC,TEC,LIMA,LE,1110.0,3574.833248,11.214000
3,19047,201807,2,PRI,8.0,"LN,LS",NaN,NaN,1098.0,NaN,...,55,F,CAS,PRI,TEC,LIMA,LS,1098.0,2142.030252,3.875030
4,19345,201806,1,"FAR,TEC",2.0,PROV,NaN,NaN,4500.0,NaN,...,57,M,CAS,TEC,ADMIN,LA LIBERTAD,PROV,4500.0,1275.226673,2.306943

In [5]:
# Drop columns where all values are NaN
df_train = df_train.dropna(axis=1, how='all')

# Display the updated dataframe info to confirm
df_train.columns

Index(['CODCLAVECIC', 'CODMESANALISIS', 'NUM_DEBIT_CARDS', 'DEM_EDUCA',
       'DEM_PROF2', 'DEM_MACROZONA', 'INCOME_B', 'ACT_POST', 'NUMPROPACTIVA',
       'MTO_TRX', 'CANT_TRX', 'CAN_CTD_TMO_ATM_PRM_U6M',
       'CAN_FLG_TMO_ATM_MAX_U6M', 'CAN_CTD_TNM_ATM_PRM_U6M',
       'CAN_FLG_TNM_ATM_MAX_U6M', 'CAN_MTO_TMO_ATM_DEP_MAX_U6M',
       'CAN_CTD_TMO_ATM_DEP_MAX_U6M', 'CAN_TKT_TMO_ATM_DEP_PRM_U6M',
       'CAN_MTO_TMO_ATM_TRF_SOL_PRM_U6M', 'CAN_CTD_TMO_ATM_TRF_SOL_PRM_U6M',
       'CAN_MTO_TMO_ATM_PAG_TCR_PRM_U6M', 'CAN_CTD_TMO_ATM_PAG_TCR_MAX_U6M',
       'CAN_MTO_TMO_VEN_PRM_U6M', 'CAN_FLG_TMO_VEN_MAX_U6M',
       'CAN_TKT_TMO_VEN_PRM_U6M', 'CAN_CTD_TNM_VEN_PRM_U6M',
       'CAN_MTO_TMO_VEN_SOL_PRM_U6M', 'CAN_MTO_TMO_VEN_DOL_PRM_U6M',
       'CAN_MTO_TMO_VEN_RET_PRM_U6M', 'CAN_MTO_TMO_VEN_DEP_SOL_PRM_U6M',
       'CAN_MTO_TMO_VEN_PAG_SRV_PRM_U6M', 'POS_CTD_TRX_IG02_PRM_U6M',
       'POS_CTD_TRX_IG03_PRM_U6M', 'POS_TKT_TRX_IG01_PRM_U6M',
       'POS_TKT_TRX_IG02_PRM_U6M', 'POS_TKT_TRX_IG03_PRM_U6M',
       'POS_TKT_TRX_IG04_PRM_U6M', 'POS_TKT_TRX_IG05_PRM_U6M',
       'POS_TKT_TRX_IG06_PRM_U6M', 'POS_TKT_TRX_IG07_PRM_U6M',
       'POS_TKT_TRX_IG08_PRM_U6M', 'CAN_MTO_TMO_AGT_PRM_U6M',
       'CAN_CTD_TMO_AGT_PRM_U6M', 'CAN_CTD_TMO_AGT_FRQ_U6M',
       'CAN_TKT_TMO_AGT_PRM_U6M', 'CAN_CTD_TNM_AGT_PRM_U6M',
       'CAN_FLG_TMO_HBK_MAX_U6M', 'CAN_TKT_TMO_HBK_PRM_U6M',
       'CAN_CTD_TNM_HBK_PRM_U6M', 'CAN_MTO_TMO_HBK_SOL_PRM_U6M',
       'CAN_CTD_TMO_HBK_SOL_PRM_U6M', 'CAN_MTO_TMO_HBK_DOL_PRM_U6M',
       'CAN_MTO_TMO_HBK_TRF_PRM_U6M', 'CAN_FLG_TMO_HBK_TRF_SOL_MAX_U6',
       'CAN_TKT_TMO_HBK_TRF_SOL_PRM_U6M', 'CAN_MTO_TMO_HBK_PAG_TCR_PRM_U6M',
       'CAN_MTO_TMO_HBK_PAG_TCR_DOL_PR', 'CAN_MTO_TMO_HBK_PAG_SRV_PRM_U6M',
       'CAN_FLG_TMO_HBK_PAG_SRV_MAX_U6M', 'CAN_TKT_TMO_HBK_PAG_SRV_PRM_U6M',
       'CAN_CTD_TNM_HBK_CSLT_PRM_U6M', 'CAN_FLG_TNM_HBK_CSLT_MAX_U6M',
       'CAN_MTO_TMO_BMO_PRM_U6M', 'CAN_MTO_TMO_BMO_TRF_PRM_U6M',
       'CAN_MTO_TMO_BMO_TRF_MAX_U6M', 'CAN_MTO_TMO_BMO_PAG_SRV_DOL_PR',
       'CAN_TKT_TMO_BMO_PAG_TCR_PRM_U6M', 'DEM_COD_SUBSEGMENTO',
       'DEM_DES_SEGMENTO', 'DEM_NUM_EDAD', 'DEM_DES_SEXO',
       'DEM_DES_ESTADOCIVIL1', 'DEM_DES_NIVELEDUCACIONAL2',
       'DEM_DES_GRUPO1PROFESION1', 'DEM_DES_DEPARTAMENTO',
       'DEM_DES_MACROZONADEM', 'DEM_MTO_INGRESOSOL', 'MTO_ESPERADO',
       'ING_ESPERADO'],
      dtype='object')

In [7]:
demograph_cat = ['DEM_COD_SUBSEGMENTO',
       'DEM_DES_SEGMENTO', 'DEM_DES_SEXO',
       'DEM_DES_ESTADOCIVIL1', 'DEM_DES_NIVELEDUCACIONAL2',
       'DEM_DES_GRUPO1PROFESION1', 'DEM_DES_DEPARTAMENTO',
       'DEM_DES_MACROZONADEM','DEM_EDUCA',
       'DEM_MACROZONA' ]
demograph_num = ['DEM_NUM_EDAD','DEM_MTO_INGRESOSOL', 'MTO_ESPERADO',
       'ING_ESPERADO','DEM_PROF2','INCOME_B']
df_train[demograph_cat].describe()

,DEM_NUM_EDAD,DEM_MTO_INGRESOSOL,MTO_ESPERADO,ING_ESPERADO,DEM_PROF2,INCOME_B
count,27680.000000,21279.000000,27680.0,27680.0,23289.000000,21287.000000
mean,40.474892,1690.486376,0.0,0.0,7.425823,1683.237061
std,14.899743,2228.290156,0.0,0.0,2.797685,2195.300360
min,3.000000,360.340000,0.0,0.0,1.000000,395.000000
25%,28.000000,920.000000,0.0,0.0,7.000000,918.000000
50%,38.000000,1185.000000,0.0,0.0,8.000000,1185.000000
75%,50.000000,1668.000000,0.0,0.0,9.000000,1650.500000
max,117.000000,84240.000000,0.0,0.0,11.000000,84240.000000

In [12]:
df_train = df_train[df_train['DEM_NUM_EDAD'] >= 18]
df_train[demograph_num].describe()

,DEM_NUM_EDAD,DEM_MTO_INGRESOSOL,MTO_ESPERADO,ING_ESPERADO,DEM_PROF2,INCOME_B
count,27677.000000,21278.000000,27677.0,27677.0,23286.000000,21286.000000
mean,40.478339,1690.510978,0.0,0.0,7.425792,1683.261314
std,14.896737,2228.339629,0.0,0.0,2.797843,2195.349077
min,18.000000,360.340000,0.0,0.0,1.000000,395.000000
25%,28.000000,920.000000,0.0,0.0,7.000000,918.000000
50%,38.000000,1185.000000,0.0,0.0,8.000000,1185.000000
75%,50.000000,1668.000000,0.0,0.0,9.000000,1650.750000
max,117.000000,84240.000000,0.0,0.0,11.000000,84240.000000