DATA ANALYSIS FOR CREDIT CARD ACTIVATION

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
file1 = './train_activacion.csv'
file2 = './test_activacion.csv'
df_train = pd.read_csv(file1)
df_test = pd.read_csv(file2)

df_train.head()
df_test.head()

,CODCLAVECIC,CODMESANALISIS,NUM_DEBIT_CARDS,DEM_EDUCA,DEM_PROF2,DEM_MACROZONA,MAP_DIST_JOCKEYPLAZA,TIPSEGINGRESO,INCOME_B,TRX_WDRW_SAV_B,...,DEM_NUM_EDAD,DEM_DES_SEXO,DEM_DES_ESTADOCIVIL1,DEM_DES_NIVELEDUCACIONAL2,DEM_DES_GRUPO1PROFESION1,DEM_DES_DEPARTAMENTO,DEM_DES_MACROZONADEM,DEM_MTO_INGRESOSOL,MTO_ESPERADO,ING_ESPERADO
0,2411,201806,1,"FAR,TEC",NaN,LP,NaN,NaN,1485.0,NaN,...,45,M,SOL,TEC,.,LIMA,LP,1477.0,287.786466,1.476345
1,6221,201801,1,"FAR,TEC",8.0,LP,NaN,NaN,2209.0,NaN,...,46,M,CAS,TEC,TEC,LIMA,LP,2169.0,3057.340324,9.590661
2,18740,201806,2,"FAR,TEC",8.0,LE,NaN,NaN,1110.0,NaN,...,60,M,CAS,TEC,TEC,LIMA,LE,1110.0,3574.833248,11.214000
3,19047,201807,2,PRI,8.0,"LN,LS",NaN,NaN,1098.0,NaN,...,55,F,CAS,PRI,TEC,LIMA,LS,1098.0,2142.030252,3.875030
4,19345,201806,1,"FAR,TEC",2.0,PROV,NaN,NaN,4500.0,NaN,...,57,M,CAS,TEC,ADMIN,LA LIBERTAD,PROV,4500.0,1275.226673,2.306943

In [8]:
# Drop columns where all values are NaN
df_train = df_train.dropna(axis=1, how='all')

# Display the updated dataframe info to confirm
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27680 entries, 0 to 27679
Data columns (total 79 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   CODCLAVECIC                      27680 non-null  int64
 1   CODMESANALISIS                   27680 non-null  int64
 2   NUM_DEBIT_CARDS                  27680 non-null  int64
 3   DEM_EDUCA                        26149 non-null  object
 4   DEM_PROF2                        23289 non-null  float64
 5   DEM_MACROZONA                    27641 non-null  object
 6   INCOME_B                         21287 non-null  float64
 7   ACT_POST                         27680 non-null  int64
 8   NUMPROPACTIVA                    27680 non-null  float64
 9   MTO_TRX                          256 non-null    float64
 10  CANT_TRX                         256 non-null    float64
 11  CAN_CTD_TMO_ATM_PRM_U6M          20371 non-null  float64
 12  CAN_FLG_TMO_ATM_MAX_U6M          20371 non-null  float64
 13  CAN_CTD_TNM_ATM_PRM_U6M          20371 non-null  float64
 14  CAN_FLG_TNM_ATM_MAX_U6M          20371 non-null  float64
 15  CAN_MTO_TMO_ATM_DEP_MAX_U6M      20371 non-null  float64
 16  CAN_CTD_TMO_ATM_DEP_MAX_U6M      20371 non-null  float64
 17  CAN_TKT_TMO_ATM_DEP_PRM_U6M      20371 non-null  float64
 18  CAN_MTO_TMO_ATM_TRF_SOL_PRM_U6M  20371 non-null  float64
 19  CAN_CTD_TMO_ATM_TRF_SOL_PRM_U6M  20371 non-null  float64
 20  CAN_MTO_TMO_ATM_PAG_TCR_PRM_U6M  20371 non-null  float64
 21  CAN_CTD_TMO_ATM_PAG_TCR_MAX_U6M  20371 non-null  float64
 22  CAN_MTO_TMO_VEN_PRM_U6M          12217 non-null  float64
 23  CAN_FLG_TMO_VEN_MAX_U6M          12217 non-null  float64
 24  CAN_TKT_TMO_VEN_PRM_U6M          12217 non-null  float64
 25  CAN_CTD_TNM_VEN_PRM_U6M          12217 non-null  float64
 26  CAN_MTO_TMO_VEN_SOL_PRM_U6M      12217 non-null  float64
 27  CAN_MTO_TMO_VEN_DOL_PRM_U6M      12217 non-null  float64
 28  CAN_MTO_TMO_VEN_RET_PRM_U6M      12217 non-null  float64
 29  CAN_MTO_TMO_VEN_DEP_SOL_PRM_U6M  12217 non-null  float64
 30  CAN_MTO_TMO_VEN_PAG_SRV_PRM_U6M  12217 non-null  float64
 31  POS_CTD_TRX_IG02_PRM_U6M         5975 non-null   float64
 32  POS_CTD_TRX_IG03_PRM_U6M         5975 non-null   float64
 33  POS_TKT_TRX_IG01_PRM_U6M         5975 non-null   float64
 34  POS_TKT_TRX_IG02_PRM_U6M         5975 non-null   float64
 35  POS_TKT_TRX_IG03_PRM_U6M         5975 non-null   float64
 36  POS_TKT_TRX_IG04_PRM_U6M         5975 non-null   float64
 37  POS_TKT_TRX_IG05_PRM_U6M         5975 non-null   float64
 38  POS_TKT_TRX_IG06_PRM_U6M         5975 non-null   float64
 39  POS_TKT_TRX_IG07_PRM_U6M         5975 non-null   float64
 40  POS_TKT_TRX_IG08_PRM_U6M         5975 non-null   float64
 41  CAN_MTO_TMO_AGT_PRM_U6M          18887 non-null  float64
 42  CAN_CTD_TMO_AGT_PRM_U6M          18887 non-null  float64
 43  CAN_CTD_TMO_AGT_FRQ_U6M          18887 non-null  float64
 44  CAN_TKT_TMO_AGT_PRM_U6M          18887 non-null  float64
 45  CAN_CTD_TNM_AGT_PRM_U6M          18887 non-null  float64
 46  CAN_FLG_TMO_HBK_MAX_U6M          3726 non-null   float64
 47  CAN_TKT_TMO_HBK_PRM_U6M          3726 non-null   float64
 48  CAN_CTD_TNM_HBK_PRM_U6M          3726 non-null   float64
 49  CAN_MTO_TMO_HBK_SOL_PRM_U6M      3726 non-null   float64
 50  CAN_CTD_TMO_HBK_SOL_PRM_U6M      3726 non-null   float64
 51  CAN_MTO_TMO_HBK_DOL_PRM_U6M      3726 non-null   float64
 52  CAN_MTO_TMO_HBK_TRF_PRM_U6M      3726 non-null   float64
 53  CAN_FLG_TMO_HBK_TRF_SOL_MAX_U6   3726 non-null   float64
 54  CAN_TKT_TMO_HBK_TRF_SOL_PRM_U6M  3726 non-null   float64
 55  CAN_MTO_TMO_HBK_PAG_TCR_PRM_U6M  3726 non-null   float64
 56  CAN_MTO_TMO_HBK_PAG_TCR_DOL_PR   3726 non-null   float64
 57  CAN_MTO_TMO_HBK_PAG_SRV_PRM_U6M  3726 non-null   float64
 58  CAN_FLG_TMO_HBK_PAG_SRV_MAX_U6M  3726 non-null   float64
 59  CAN_TKT_TMO_HBK_PAG_SRV_PRM_U6M  3726 non-null   float64
 60  CAN_CTD_TNM_HBK_CSLT_PRM_U6M     3726 non-null   float64
 61  CAN_FLG_TNM_HBK_CSLT_MAX_U6M     3726 non-null   float64
 62  CAN_MTO_TMO_BMO_PRM_U6M          2666 non-null   float64
 63  CAN_MTO_TMO_BMO_TRF_PRM_U6M      2666 non-null   float64
 64  CAN_MTO_TMO_BMO_TRF_MAX_U6M      2666 non-null   float64
 65  CAN_MTO_TMO_BMO_PAG_SRV_DOL_PR   2666 non-null   float64
 66  CAN_TKT_TMO_BMO_PAG_TCR_PRM_U6M  2666 non-null   float64
 67  DEM_COD_SUBSEGMENTO              27680 non-null  object
 68  DEM_DES_SEGMENTO                 27680 non-null  object
 69  DEM_NUM_EDAD                     27680 non-null  int64
 70  DEM_DES_SEXO                     27680 non-null  object
 71  DEM_DES_ESTADOCIVIL1             27680 non-null  object
 72  DEM_DES_NIVELEDUCACIONAL2        27185 non-null  object
 73  DEM_DES_GRUPO1PROFESION1         26393 non-null  object
 74  DEM_DES_DEPARTAMENTO             27571 non-null  object
 75  DEM_DES_MACROZONADEM             27553 non-null  object
 76  DEM_MTO_INGRESOSOL               21279 non-null  float64
 77  MTO_ESPERADO                     27680 non-null  int64
 78  ING_ESPERADO                     27680 non-null  int64
dtypes: float64(62), int64(7), object(10)
memory usage: 16.7+ MB

In [7]:
df_train.describe()

,CODCLAVECIC,CODMESANALISIS,NUM_DEBIT_CARDS,DEM_PROF2,MAP_DIST_JOCKEYPLAZA,TIPSEGINGRESO,INCOME_B,TRX_WDRW_SAV_B,TRX_ATM_WDRW_SAV_B,CURRENT_END_AMT_SAV_B,...,CAN_FLG_TNM_HBK_CSLT_MAX_U6M,CAN_MTO_TMO_BMO_PRM_U6M,CAN_MTO_TMO_BMO_TRF_PRM_U6M,CAN_MTO_TMO_BMO_TRF_MAX_U6M,CAN_MTO_TMO_BMO_PAG_SRV_DOL_PR,CAN_TKT_TMO_BMO_PAG_TCR_PRM_U6M,DEM_NUM_EDAD,DEM_MTO_INGRESOSOL,MTO_ESPERADO,ING_ESPERADO
count,2.768000e+04,27680.000000,27680.000000,23289.000000,0.0,0.0,21287.000000,0.0,0.0,0.0,...,3726.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,27680.000000,21279.000000,27680.0,27680.0
mean,9.506834e+06,201803.887970,1.147688,7.425823,NaN,NaN,1683.237061,NaN,NaN,NaN,...,0.639828,782.092025,541.577435,1652.698848,43.285032,76.691932,40.474892,1690.486376,0.0,0.0
std,5.691158e+06,1.987475,0.438750,2.797685,NaN,NaN,2195.300360,NaN,NaN,NaN,...,0.480114,4055.533253,3153.278561,8890.266585,295.713026,586.428668,14.899743,2228.290156,0.0,0.0
min,8.050000e+02,201801.000000,1.000000,1.000000,NaN,NaN,395.000000,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,360.340000,0.0,0.0
25%,4.618366e+06,201802.000000,1.000000,7.000000,NaN,NaN,918.000000,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,28.000000,920.000000,0.0,0.0
50%,9.468312e+06,201804.000000,1.000000,8.000000,NaN,NaN,1185.000000,NaN,NaN,NaN,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,38.000000,1185.000000,0.0,0.0
75%,1.376020e+07,201806.000000,1.000000,9.000000,NaN,NaN,1650.500000,NaN,NaN,NaN,...,1.000000,2.919583,0.000000,0.000000,0.000000,0.000000,50.000000,1668.000000,0.0,0.0
max,2.223809e+07,201807.000000,10.000000,11.000000,NaN,NaN,84240.000000,NaN,NaN,NaN,...,1.000000,77098.596670,77082.096670,198101.850000,7502.520000,19320.390830,117.000000,84240.000000,0.0,0.0